@font-face {
  font-family: ak grotesk;
  src: url("../../public/fonts/Aktiv.Grotesk/AktivGrotesk-Regular.woff2");
}
@font-face {
  font-family: hk grotesk;
  src: url("../../public/fonts/hk-grotesk-wide-font-family/hkgroteskwide-regular.woff2");
}
html,
body {
  font-size: 14px;
  font-weight: 400;
  font-family: ak grotesk;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: hk grotesk;
}

h1 {
  font-size: 2.75rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 2.25rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}

@media (min-width: 750px) {
  html,
  body {
    font-size: 0.94vw;
  }
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.75rem;
  }
  h3 {
    font-size: 2.25rem;
  }
  h4 {
    font-size: 2rem;
  }
  h5 {
    font-size: 1.5rem;
  }
}
@media (min-width: 1440px) {
  html,
  body {
    font-size: 16px;
  }
}
